/* Estilos generales para la página */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#proyecto {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
    font-weight: bold;
}

.logo {
    width: 150px;
    margin: -10px;
}

.imagen-contenedor img {
    width: 60%;
    height: auto;
    max-height: 350px;
    background-size: contain;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

#infcontenedor {
    margin: 20px 0;
}

.botones {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: rgb(76, 168, 57);
    font-weight: 400;
    border-radius: 10px;
    border: none;
    user-select: none;
    cursor: pointer;;
    transition: all 0.4s;
}
button:hover {
    transform: scale(1.05);
    transition: all .1s;
    box-shadow: 0.7px 0.7px rgba(0, 0, 0, 1);
    background-color: #022966;
}
.entrega {
    background-color: #022966;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
h1 {
    margin: 10px;
}